**

!/package.json
!/yarn.lock

!/packages/server/package.json
!/packages/server/rollup.config.ts
!/packages/server/src/**
!/packages/server/tsconfig.json
!/packages/server/yarn.lock



!/packages/frontend/next.config.js
!/packages/frontend/package.json
!/packages/frontend/src/**
!/packages/frontend/tsconfig.json
!/packages/frontend/yarn.lock
