@use "colors";
@use "variables";

.table {
	$margin: 4rem;

	background-color: colors.$secondary-background;
	padding: 1rem;
	@include variables.rounded-lg;
	width: calc(100% - $margin * 2);
	margin: $margin;
	table-layout: fixed;

	thead {
		th {
			padding: 0.25rem;
		}
	}
	td {
		text-align: center;
	}
}
