@use "colors";
@use "variables";

.table {
	background-color: colors.$secondary-background;
	padding: 1rem;
	@include variables.rounded-lg;
	width: calc(100%);
	table-layout: fixed;

	thead {
		th {
			padding: 0.25rem;
		}
	}
	td {
		text-align: center;
	}
}
